<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@CharadesAgainstHumanity">
  <meta name="twitter:title" content="Charades Against Humanity">
  <meta name="twitter:url" content="http://charadesagainsthumanity.herokuapp.com">
  <meta name="twitter:description" content="Play charades with all the white cards for Cards Against Humanity.">
  <meta name="twitter:image" content="http://charadesagainsthumanity.herokuapp.com/img/card.jpg">

  <meta property="og:title" content="Charades Against Humanity">
  <meta property="og:site_name" content="Charades Against Humanity">
  <meta property="og:url" content="http://charadesagainsthumanity.herokuapp.com">
  <meta property="og:description" content="Play charades with all the white cards for Cards Against Humanity.">
  <meta property="og:image" content="http://charadesagainsthumanity.herokuapp.com/img/card.jpg">

  <title>Charades Against Humanity</title>
  <script
          src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
          integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
          crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/c7670f61a9.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="js-app"></div>
<script src="/javascripts/app.js"></script>
</body>
</html>
