<div class="Card-container">
  <a class="card-text-container">
    <div class="">
      <h4 class="card-text"><%=card%></h4>
    </div>
  </a>
  <div class="text-center">
    <p>Tap to refresh</p>
  </div>
</div>
