<div class="TimesUp-container text-center">
  <h1>Times Up!</h1>
  <p>It was</p>
  <div class="card-text-container">
    <div class="">
      <h4 class="card-text"><%=card%></h4>
    </div>
  </div>
  <a href="#game" class="btn btn-xl btn-primary">Next</a>
</div>
