<div class="Timer-container">
  <div class="seconds-container text-center">
    <h1><%=currentSeconds%></h1>
  </div>
  <div class="Timer-controls">
    <div class="start-button-container button-container col-xs-12">
      <a href="#" class="btn btn-xl start-button btn-danger">Start</a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 pause-button-container button-container">
      <a href="#" class="btn btn-xl btn-default pause-button">Pause</a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 reset-button-container button-container">
      <a href="#" class="btn btn-xl btn-warning reset-button">Reset</a>
    </div>
    <br><br>
    <div class="done-button-container col-xs-12">
      <a href="#" class="btn btn-xl Timer-done-button done-button btn-danger">They Got It!</a>
    </div>
  </div>
</div>
