<div class="NextTeam-container text-center">
  <p>Hand your phone to the next team so they can pick something embarrassing for you.</p>
  <a href="#game" class="btn btn-xl btn-primary">Next</a>
</div>
