<div class="Game-container">
  <div class="Navigation-component-container"></div>
  <div class="Card-component-container"></div>
  <div class="Timer-component-container"></div>
  <div class="StartStopButton-component-container"></div>
</div>
